@import url('https://fonts.googleapis.com/css2?family=Syne:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: #000; */
  font-feature-settings: 'pnum' on, 'lnum' on !important;
}


:root {
  --backgroundColor: #fff;
  --backgroundColorSecondary: #fff;
  --textPrimaryColor: #2A2A2A;

  --headlineBig: clamp(3rem, 10vw, 15rem);
  --headlineSmall: clamp(1rem, 1.2vw, 6rem);
  --pr-color: #fff;
  --second-color: #0a0a0a;
  --cubicbz: cubic-bezier(.9, 0, .1, 1);
  --fz-big: 60px;
}

section {
  padding-top: 150px;
  padding-bottom: 50px;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #00000013;
}

/* Navbar */
ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: #fff;
}

.navbar-section {
  background: #00000034;
  position: fixed;
  height: 80px;
  width: 100%;
  backdrop-filter: blur(5px);
}

#nav {
  display: flex;
  align-items: center;
  padding: 10px 40px;
  justify-content: space-between;
  z-index: 5;
}

#nav img {
  height: 30px;
  justify-content: space-between;
}

#nav2 {
  display: flex;
  gap: 55px;
}

#nav3 {
  display: flex;
  gap: 55px;
  align-items: center;
}

#nav3 h3 {
  text-transform: uppercase;
}

#nav3 h4 {
  text-transform: uppercase;
}

#nav3 button {
  background-color: #fff;
  color: #000;
  padding: 18px 25px;
  border: none;
  font-weight: 700;
  font-size: 16px;
}

.header-wrap {
  /* position: fixed; */
  background: #000;
}

.brand-description,
.contact-button {
  right: 10vw;
  text-transform: uppercase;
}

.brand-description {
  position: fixed;
  z-index: 11;
  top: 100px;
  max-width: 120px;
  transition: -webkit-transform .4s cubic-bezier(.215, .61, .355, 1);
  transition: transform .4s cubic-bezier(.215, .61, .355, 1);
  transition: transform .4s cubic-bezier(.215, .61, .355, 1), -webkit-transform .4s cubic-bezier(.215, .61, .355, 1);
  transition-delay: .5s;
  color: #111;
  font-weight: 300;
  font-size: 12px;
  text-align: right;
}

.menu-button-wrap,
.menu-button-wrap .menu-button {
  will-change: transform;
  transition: -webkit-transform .8s cubic-bezier(.645, .045, .355, 1);
  transition: transform .8s cubic-bezier(.645, .045, .355, 1);
  transition: transform .8s cubic-bezier(.645, .045, .355, 1), -webkit-transform .8s cubic-bezier(.645, .045, .355, 1);
}

.menu-button-wrap {
  position: fixed;
  left: 11px;
  top: 100px;
  z-index: 11;
}

.menu-button-wrap .menu-button {
  cursor: pointer;
  width: 48px;
  height: 48px;
  border: none;
  background: 0 0;
}

.menu-button-wrap,
.menu-button-wrap .menu-button {
  will-change: transform;
  transition: -webkit-transform .8s cubic-bezier(.645, .045, .355, 1);
  transition: transform .8s cubic-bezier(.645, .045, .355, 1);
  transition: transform .8s cubic-bezier(.645, .045, .355, 1), -webkit-transform .8s cubic-bezier(.645, .045, .355, 1);
}

.menu-button-wrap .menu-button span:before {
  -webkit-transform: translate(-5px, -50%) scaleY(.7) rotate(180deg);
  transform: translate(-5px, -50%) scaleY(.7) rotate(180deg);
}

.menu-button-wrap .menu-button span:after,
.menu-button-wrap .menu-button span:before {
  content: "";
  width: 2px;
  height: 48px;
  position: absolute;
  background-color: #111;
  left: 50%;
  top: 50%;
  display: block;
  will-change: transform;
  transition: all 1s cubic-bezier(.645, .045, .355, 1);
}

.menu-button-wrap .menu-button span:after {
  -webkit-transform: translate(5px, -50%) scaleY(.7) rotate(0);
  transform: translate(5px, -50%) scaleY(.7) rotate(0);
}

.menu-button-wrap .menu-button span:after,
.menu-button-wrap .menu-button span:before {
  content: "";
  width: 2px;
  height: 48px;
  position: absolute;
  background-color: #111;
  left: 50%;
  top: 50%;
  display: block;
  will-change: transform;
  transition: all 1s cubic-bezier(.645, .045, .355, 1);
}

.menu-holder {
  z-index: 9999;
  position: fixed;
}

.menu-holder .menu-inside {
  position: fixed;
  width: 100%;
  height: 100vh;

  /* -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  transition: -webkit-transform 1s cubic-bezier(1, 0, 0, 1);
  transition: transform 1s cubic-bezier(1, 0, 0, 1);
  transition: transform 1s cubic-bezier(1, 0, 0, 1), -webkit-transform 1s cubic-bezier(1, 0, 0, 1);
  will-change: transform; */
  background-color: #111;
  /* color: #fff !important; */
  z-index: 10;
}

.menu-holder .menu-inside .menu-nav-container {
  position: relative;
  left: 220px;
  top: 100px;
  overflow: hidden;
  width: calc(90vw - 260px);
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.menu-holder .menu-inside .internal-nav-links li {
  margin-bottom: 20px;
}

.internal-nav-links li a {
  font-size: clamp(32px, 4vw, 52px);
  line-height: 1.1em;
}

.external-nav-links {
  display: flex;
  gap: 50px;
}

.external-nav-links a {
  color: #fff;
  font-size: 40px;
}

.menu-holder .menu-inside .internal-nav-links li img {
  pointer-events: none;
  aspect-ratio: 16/9;
  opacity: 0;
  display: block;
  width: 30vw;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-30px);
  transform: translateY(-50%) translateX(-30px);
  right: 10%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-filter: brightness(1.3) grayscale(.54) contrast(.8) saturate(1.2) sepia(.21);
  filter: brightness(1.3) grayscale(.54) contrast(.8) saturate(1.2) sepia(.21);
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}

.menu-button-wrap.open {
  -webkit-transform: translateX(80px);
  transform: translateX(80px);
  transition-delay: .2s;
}

.menu-button-wrap.open .menu-button {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.menu-button-wrap.open span:before {
  -webkit-transform: translate(-50%, -50%) rotate(315deg);
  transform: translate(-50%, -50%) rotate(315deg);
  background-color: #fff;
}

.menu-button-wrap.open span:after {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: #fff;
}

.menu-holder .menu-inside.open {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.menu-holder .menu-inside.open .internal-nav-links li:nth-child(1n) a:hover {
  transition: 1s;
  font-weight: 800;
}

.menu-holder .menu-inside.open .internal-nav-links li:nth-child(2n) a {
  transition-delay: .9s;
}

.menu-holder .menu-inside.open .internal-nav-links li:nth-child(3n) a {
  transition-delay: 1s;
}

.menu-holder .menu-inside.open .internal-nav-links li:nth-child(4n) a {
  transition-delay: 1.1s;
}

.menu-holder .menu-inside.open .internal-nav-links li:nth-child(5n) a {
  transition-delay: 1.2s;
}

.menu-holder .menu-inside .internal-nav-links li:hover img {
  opacity: 1;
  -webkit-transform: translateY(-50%) translateX(30px);
  transform: translateY(-50%) translateX(30px);
}

@media only screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
  }

  .menu-holder .menu-inside .menu-nav-container {
    left: 60px;
    width: calc(90vw - 27px);
    top: 210px;
  }

  .external-nav-links {
    gap: 30px;
  }

  .menu-holder .menu-inside .internal-nav-links li {
    width: 160px;
  }

  .menu-holder .menu-inside .internal-nav-links li:hover img {
    z-index: -1;
    left: 127px;
  }
}

/* .header{
  font-size: 100px;
} */

.header {
  position: relative;
  display: flex;
  padding: 0 70px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  z-index: -1;
  background: #484b6a;

}

.header__marq {
  position: absolute;
  bottom: 0;
  left: 0;
}

.header__marq {
  width: 100%;
  height: auto;
}

.header__marq-wrapp {
  display: flex;
  width: 100%;
  height: auto;
  padding: 8px 70px;
}

.header__marq-txt {
  position: relative;
  flex: 0 0 auto;
  display: inline-block;
  padding-right: 55px;
  margin-right: 15px;
  text-transform: uppercase;
  color: var(--pr-color);
  color: #9e9e9e;
  font-size: 35px;
}

.header__marq-star {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 0;
}

.header__marq-star img {
  display: block;
  width: 100%;
  height: 100%;
}

.title {
  position: relative;
  margin: 0;
  font-size: 85px;
  text-align: center;
  color: var(--pr-color);
  text-transform: uppercase;
  mix-blend-mode: difference;
  z-index: 2;
  overflow-x: hidden;
}

.title_paralax {
  display: inline-block;
  will-change: transform;
}

.title .stroke {
  display: inline-block;
  color: transparent;
  -webkit-text-stroke: 1px var(--pr-color);
}

.header__img {
  position: absolute;
  width: 45%;
  height: 100%;
  top: 0;
  right: 100px;
  /* clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%); */
  overflow: hidden;
}

.header__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-title {
  position: relative;
  margin: 0;
  margin-bottom: 60px;
  line-height: .8;
  font-size: 70px;
  text-align: center;
  color: var(--pr-color);
  text-transform: uppercase;
}

.section-title .stroke {
  color: transparent;
  -webkit-text-stroke: 1px var(--pr-color);
}

.section-title__square {
  position: absolute;
  display: inline-block;
  width: 130px;
  height: 130px;
  border: 1px solid #4b4b4b;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}






/* About */
.about-section {
  height: 100vh;
  /* width: 98.8vw; */
  width: 100%;
  /* overflow-x: hidden; */
  z-index: -1;
  position: relative;
}

.reveal {
  background: var(--backgroundColor);
  /* padding-left: 10%; */
  /* padding-right: 10%; */
  padding-top: 5%;
  padding-bottom: 5%;
  /* z-index: -99; */
  padding: 40px;
  

}

.about-heading {
  font-size: var(--headlineBig);
  position: relative;
  width: 40vw;
}

.about-heading span {
  display: inline-block;
  color: transparent;
  -webkit-text-stroke: 1px var(--pr-color);
}

.about__body {
  display: flex;
  gap: 70px;
}

.about-text {
  width: 40vw;
}

.reveal-text {
  font-weight: 800;
  font-size: 30px;
  /* line-height: var(--headlineBig); */
  color: var(--backgroundColor);
  filter: drop-shadow(0 0 0.06rem rgb(2, 2, 2));

}

.spacing-small {
  height: 20vh;
  position: absolute;
}

.spacing {
  height: 100vh;
}

@media screen and (max-width: 500px) {
  .reveal {
    padding-left: 10px;
  }
}

.serv {
  height: 100vh;
  width: 100%;
  position: relative;
  top: 38vh;
  padding: 20px;
}

.serv__item {
  position: relative;
  padding: 40px 0;
  border-bottom: 1px solid #2f2e2e;
  z-index: -1;
}

.serv__item-arrow {
  position: absolute;
  display: inline-block;
  width: 55px;
  height: 55px;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.serv__item-arrow img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform: rotate(180deg);
  opacity: 0.8;
  z-index: -1;
}

.serv__item-text {
  font-size: 50px;
  color: #9394a5;
  font-family: 'Syne', sans-serif;
}

.serv .content .section-title {
  color: #484b6a;
  font-size: var(--headlineBig);
  font-weight: 600;
  text-transform: none;
  position: relative;
  padding-left: 15vh;
  z-index: -1;
}

.serv .content .section-title span {
  display: inline-block;
  color: transparent;
  -webkit-text-stroke: 1px #484b6a;
}