:root {
  --backgroundColor: #fff;
  --backgroundColorSecondary: #fff;
  --textPrimaryColor: #2A2A2A;

  --headlineBig: clamp(3rem, 10vw, 15rem);
  --headlineSmall: clamp(1rem, 1.2vw, 6rem);
  --pr-color: #fff;
  --second-color: #0a0a0a;
  --cubicbz: cubic-bezier(.9, 0, .1, 1);
  --fz-big: 60px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100%;
}

.image-half-left {
  border-top-left-radius: 50%;
}

.image-full {
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.image-half-right {
  border-top-right-radius: 50%;
}

.round-img {
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.small-img{
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 11%;
  width: 20vw;
  height: 20vh;
}
button {
  display: inline-block;
  text-decoration: none;
  background: #000116;
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  padding: 13px 35px 12px;
  position: relative;
  z-index: 1;
}

button:hover {
  color: #000116;
}

button:hover::before {
  opacity: 1;
  transform: scale(1);
}

button:hover::after {
  opacity: 1;
  transform: scale(1);
}

button::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  clip-path: polygon(0 1, 0% 100%, 101% 100%);
  transform: scale(0);
  transform-origin: bottom left;
  background: #F9E965;
  pointer-events: none;
  transition: .5s;
  z-index: -1;
  opacity: 0.5;
}


button::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  clip-path: polygon(0 1, 101% 0%, 100% 100%);
  transform: scale(0);
  transform-origin: top right;
  background: #F9E965;
  pointer-events: none;
  transition: .5s;
  opacity: .5;
  z-index: -1;
  height: 100%;

}

#nav {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  position: fixed;
  background: #00000044;
  backdrop-filter: blur(10px);
  color: #fff;
  z-index: 99999;
}

#nav img {
  cursor: pointer;
}

#nav2 {
  display: flex;
  gap: 55px;
}

#nav2 h3 {
  cursor: pointer;
  font-size: 1.2rem;
}

#nav3 {
  display: flex;
  gap: 55px;
  align-items: center;
}

#nav3 button {
  display: block;
}

.header {
  position: relative;
  display: flex;
  /* padding: 0 70px; */
  padding: 40px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background: #f6f6f6;
  gap: 20px;
}

.left-section {
  width: 45%;
}

.hero-description {
  font-size: 1.4rem;
  /* font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace; */
  font-weight: normal;
  color: #9fa1ad;
  margin-bottom: 1rem;
  line-height: 1.6;
  margin-top: 25px;
  margin-bottom: 50px;
}

.greeting {
  font-size: 60px;
  line-height: 1.1;
  color: #bbbbbb;
  font-weight: 500;
}

.hero-title {
  font-size: 67px;
  line-height: 1.1;
  margin: 0px;
  font-weight: 700;
  width: 58rem;
  margin-bottom: 20px;
  color: #d7a449;
}

.header__img {
  position: relative;
  width: 43vw;
  height: 90%;
  top: 20px;
  right: 0;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  /* padding-top: 50px; */
  padding-right: 0;
  grid-gap: 20px;
}

.header__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* opacity: 0.5; */
  filter: grayscale(50%);
  cursor: pointer;
  /* transform: scale(1); */
  transition: 0.5s;
}

.header__img img:hover img {
  scale: 1.1;
}

.about-container {
  height: 100vh;
  width: 100%;
}

.bg-line {
  position: relative;
  margin-top: -120px;
  rotate: 50deg;
  z-index: -1;
}

.about-section {
  position: relative;
  padding: 30px 0px;
  top: -40vw;
}

.about-section .content-column {
  position: relative;
  margin-bottom: 40px;
}

.about-section .content-column .inner-column {
  position: relative;
  padding-top: 50px;
  padding-right: 100px;
}

.about-section .content-column .text {
  position: relative;
  color: #777777;
  font-size: 15px;
  line-height: 2em;
  margin-bottom: 40px;
}

.about-section .content-column .email {
  position: relative;
  color: #252525;
  font-weight: 700;
  margin-bottom: 50px;
}

.about-section .image-column {
  position: relative;
  margin-bottom: 50px;
}

.about-section .image-column .inner-column {
  position: relative;
  padding: 40px 40px 0px 0px;
  margin-left: 50px;
}

.about-section .image-column .inner-column:after {
  position: absolute;
  content: '';
  right: 0px;
  top: 0px;
  left: 40px;
  bottom: 100px;
  z-index: -1;
  border: 4px solid #fa8f45;
}

.about-section .image-column .inner-column .image {
  position: relative;
  overflow: hidden;
}

.about-section .image-column .inner-column .image:before {
  position: absolute;
  content: '';
  left: -50px;
  bottom: -50px;
  width: 299px;
  height: 299px;

}

.about-section .image-column .inner-column .image img {
  position: relative;
  width: 100%;
  display: block;
  height: 72vh;
  transform: scale(1);
  transition: 0.5s;
}

.about-section .image-column .inner-column .image:hover img {
  scale: 1.1;
}

.about-section .image-column .inner-column .image .overlay-box {
  position: absolute;
  left: 40px;
  bottom: 48px;
}

.about-section .image-column .inner-column .image .overlay-box .year-box {
  position: relative;
  color: #252525;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4em;
  padding-left: 125px;
}

.about-section .image-column .inner-column .image .overlay-box .year-box .number {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 110px;
  height: 110px;
  color: #d7a449;
  font-size: 68px;
  font-weight: 700;
  line-height: 105px;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #000000;
}

.title {
  font-size: 67px;
  line-height: 1.1;
  margin: 0px;
  font-weight: 700;
  width: 58rem;
  margin-bottom: 20px;
  color: #d7a449;
}/* services.css */

/* Container for the "Services" section */
.services-container {
  display: flex;
  background-color: #f5f5f5;
  padding: 40px;
  height: 100vh;
  justify-content: space-around;
  overflow: hidden;
}

/* .services-left-section{
  width: 100%;
  height: 100%;
} */
/* .service-img-container{
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 40px;
} */
/* Right section containing service boxes */
.services-right-section {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 55%;
  gap: 2rem;
  padding-left: 40px;
}
.service-title{
  position: relative;
  /* left: 120px; */
  width: 80%;
}
/* Service box styles */
.service-box-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.service-box {
  width: 220px;
  border: 2px solid #007bff;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.2s;
  padding: 20px;
  height: 240px;
}

/* Hover effect for service boxes */
.service-box:hover {
  transform: scale(1.05);
  border-color: #0056b3;
}

.service-icon {
  font-size: 36px;
  color: #007bff;
}

.service-details {
  margin-top: 20px;
}
.about-description{
  font-size: 1.2rem;
}
.service-description{
  margin-bottom: 0;
}

