* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: #000; */
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #00000013;
}

/* Navbar */
ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: #fff;
}



.brand-description,
.contact-button {
  right: 10vw;
  text-transform: uppercase;
}

.brand-description {
  position: fixed;
  z-index: 11;
  top: 100px;
  max-width: 120px;
  transition: -webkit-transform .4s cubic-bezier(.215, .61, .355, 1);
  transition: transform .4s cubic-bezier(.215, .61, .355, 1);
  transition: transform .4s cubic-bezier(.215, .61, .355, 1), -webkit-transform .4s cubic-bezier(.215, .61, .355, 1);
  transition-delay: .5s;
  color: #111;
  font-weight: 300;
  font-size: 12px;
  text-align: right;
}

.menu-button-wrap,
.menu-button-wrap .menu-button {
  will-change: transform;
  transition: -webkit-transform .8s cubic-bezier(.645, .045, .355, 1);
  transition: transform .8s cubic-bezier(.645, .045, .355, 1);
  transition: transform .8s cubic-bezier(.645, .045, .355, 1), -webkit-transform .8s cubic-bezier(.645, .045, .355, 1);
}

.menu-button-wrap {
  position: fixed;
  left: 11px;
  top: 100px;
  z-index: 11;
}

.menu-button-wrap .menu-button {
  cursor: pointer;
  width: 48px;
  height: 48px;
  border: none;
  background: 0 0;
}

.menu-button-wrap,
.menu-button-wrap .menu-button {
  will-change: transform;
  transition: -webkit-transform .8s cubic-bezier(.645, .045, .355, 1);
  transition: transform .8s cubic-bezier(.645, .045, .355, 1);
  transition: transform .8s cubic-bezier(.645, .045, .355, 1), -webkit-transform .8s cubic-bezier(.645, .045, .355, 1);
}

.menu-button-wrap .menu-button span:before {
  -webkit-transform: translate(-5px, -50%) scaleY(.7) rotate(180deg);
  transform: translate(-5px, -50%) scaleY(.7) rotate(180deg);
}

.menu-button-wrap .menu-button span:after,
.menu-button-wrap .menu-button span:before {
  content: "";
  width: 2px;
  height: 48px;
  position: absolute;
  background-color: #111;
  left: 50%;
  top: 50%;
  display: block;
  will-change: transform;
  transition: all 1s cubic-bezier(.645, .045, .355, 1);
}

.menu-button-wrap .menu-button span:after {
  -webkit-transform: translate(5px, -50%) scaleY(.7) rotate(0);
  transform: translate(5px, -50%) scaleY(.7) rotate(0);
}

.menu-button-wrap .menu-button span:after,
.menu-button-wrap .menu-button span:before {
  content: "";
  width: 2px;
  height: 48px;
  position: absolute;
  background-color: #111;
  left: 50%;
  top: 50%;
  display: block;
  will-change: transform;
  transition: all 1s cubic-bezier(.645, .045, .355, 1);
}

.menu-holder .menu-inside {
  position: fixed;
  width: 100vw;
  height: 100vh;
  /* -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  transition: -webkit-transform 1s cubic-bezier(1, 0, 0, 1);
  transition: transform 1s cubic-bezier(1, 0, 0, 1);
  transition: transform 1s cubic-bezier(1, 0, 0, 1), -webkit-transform 1s cubic-bezier(1, 0, 0, 1);
  will-change: transform; */
  background-color: #111;
  /* color: #fff !important; */
  z-index: 10;
}

.menu-holder .menu-inside .menu-nav-container {
  position: relative;
  left: 220px;
  top: 100px;
  overflow: hidden;
  width: calc(90vw - 260px);
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.menu-holder .menu-inside .internal-nav-links li {
  margin-bottom: 20px;
}

.internal-nav-links li a {
  font-size: clamp(32px, 4vw, 52px);
  line-height: 1.1em;
}

.external-nav-links {
  display: flex;
  gap: 50px;
}

.external-nav-links a {
  color: #fff;
  font-size: 40px;
}

.menu-holder .menu-inside .internal-nav-links li img {
  pointer-events: none;
  aspect-ratio: 16/9;
  opacity: 0;
  display: block;
  width: 30vw;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-30px);
  transform: translateY(-50%) translateX(-30px);
  right: 10%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-filter: brightness(1.3) grayscale(.54) contrast(.8) saturate(1.2) sepia(.21);
  filter: brightness(1.3) grayscale(.54) contrast(.8) saturate(1.2) sepia(.21);
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}

.menu-button-wrap.open {
  -webkit-transform: translateX(80px);
  transform: translateX(80px);
  transition-delay: .2s;
}

.menu-button-wrap.open .menu-button {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.menu-button-wrap.open span:before {
  -webkit-transform: translate(-50%, -50%) rotate(315deg);
  transform: translate(-50%, -50%) rotate(315deg);
  background-color: #fff;
}

.menu-button-wrap.open span:after {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: #fff;
}

.menu-holder .menu-inside.open {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.menu-holder .menu-inside.open .internal-nav-links li:nth-child(1n) a:hover {
  transition: 1s;
  font-weight: 800;
}

.menu-holder .menu-inside.open .internal-nav-links li:nth-child(2n) a {
  transition-delay: .9s;
}

.menu-holder .menu-inside.open .internal-nav-links li:nth-child(3n) a {
  transition-delay: 1s;
}

.menu-holder .menu-inside.open .internal-nav-links li:nth-child(4n) a {
  transition-delay: 1.1s;
}

.menu-holder .menu-inside.open .internal-nav-links li:nth-child(5n) a {
  transition-delay: 1.2s;
}
.menu-holder .menu-inside .internal-nav-links li:hover img {
  opacity: 1;
  -webkit-transform: translateY(-50%) translateX(30px);
  transform: translateY(-50%) translateX(30px);
}
@media only screen and (max-width: 600px) {
  body{
    overflow-x: hidden;
  }
  .menu-holder .menu-inside .menu-nav-container{
    left: 60px;
    width: calc(90vw - 27px);
    top: 210px;
  }
  .external-nav-links{
    gap: 30px;
  }
  .menu-holder .menu-inside .internal-nav-links li {
    width: 160px;
  }
.menu-holder .menu-inside .internal-nav-links li:hover img{
  z-index: -1;
  left: 127px;
}
}
/* .header{
  font-size: 100px;
} */